{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <div class="mb-3 form-check">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
{% endblock %}
