coverage==7.9.2
factory-boy==3.3.3
iniconfig==2.1.0
mypy==1.17.0
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
pre-commit==4.2.0
Pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
ruff==0.12.3
types-Flask-Migrate==4.1.0.20250112
types-WTForms==3.2.1.20250602
types-requests==2.32.4.20250611
