{% macro render_field(field, id=None) %}
<div class="mb-3">
    {{ field.label(class="form-label") }}
    {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
    {{ field(id=id) if id else field() }}
    {% elif field.type == 'PasswordField' %}
    {{ field(class="form-control", id=id, autocomplete="current-password") if id else field(class="form-control", autocomplete="current-password") }}
    {% elif field.name == 'username' %}
    {{ field(class="form-control", id=id, autocomplete="username") if id else field(class="form-control", autocomplete="username") }}
    {% else %}
    {{ field(class="form-control", id=id) if id else field(class="form-control") }}
    {% endif %}
    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
</div>
{% endmacro %}
